body{	
	background:#000000;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: contain;
  background-position: center; 
}

ol {
	font-size:32px;
	text-align:center;
}
ol li {
	padding:24px;
}

a {
  text-decoration: none;
  outline: none;
}

a:link { color: white; }


a:hover { 
  color: blue;
}